.background {
  background-image: url('../../../../public/images/hero-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #001f0d;
  background-position: center;
  overflow: hidden;
}
